{% extends "base.html.twig" %}


{% block body %}

            <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Produit</h2>
                    </div>
                    <div class="col-12">
                        <a href="{{ path('app_home') }}">Home</a>
                        <a href="">Produit</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->

<section class="shop_section layout_padding mb-5">
    <section class="container">
        <div class="heading_container heading_center">
            <h2>Latest Products</h2>
        </div>
        <div class="row">
            {% for produit in lesProduits %}
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="box">
                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}">
                    <div class="img-box">
                        <img src="{{ vich_uploader_asset(produit, 'imageFile') }}" alt="Hero Image" width="200" height:"180">
                    </div></a>
                    <div class="detail-box" style="display:block">
                        <h5>{{ produit.libelle }}</h4>
                        <p><span>{{ produit.prix }} dinars</span></p>
                    </div>
                    {# <div class="new"><span>New</span></div> #}
                    
                </div>
            </div>
        {% endfor %}
        </div>
    </section>
</section>

{% endblock %}