<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# <link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/> #}
        {# <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"> #}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            {# composer require symfony/webpack-encore-bundle #}
        <!-- Favicon -->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
        {# <link href="{{ asset('images/favicon.ico') }}" rel="icon"> #}
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
        <link href="{{ asset('lib/animate/animate.min.css') }}" rel="stylesheet">
        <link href="{{ asset('lib/flaticon/font/flaticon.css') }}" rel="stylesheet"> 
        <link href="{{ asset('lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
        <link href="{{ asset('lib/lightbox/css/lightbox.min.css') }}" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <!-- Template Stylesheet -->
</head>

<body>
        <!-- Top Bar Start -->
        <div class="top-bar d-none d-md-block">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="top-bar-left">
                            <div class="text">
                                <i class="far fa-clock"></i>
                                <h2>8:00 - 9:00</h2>
                                <p>Mon - Fri</p>
                            </div>
                            <div class="text">
                                <i class="fa fa-phone-alt"></i>
                                <h2>+219 12 123 123</h2>
                                <p>For Appointment</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="top-bar-right mt-2">
                            <div class="logout-btn">
                                {% if app.user %}
                                    <p><a style="text-decoration: none;" href="{{ path('app_logout') }}">Logout </a></p>
                                    {% else %}
                                    <div style="display:flex;gap:12px">
                                    <p><a href="{{ path('app_login') }}">Login </a></p>
                                    <p><a style="color:#fff" class="register" href="{{ path('app_register') }}">Register </a></p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Bar End -->

        <!-- Nav Bar Start -->
        <div class="navbar navbar-expand-lg bg-dark navbar-dark mb-5">
            <div class="container-fluid" >
                <a href="{{ path('app_home') }}" class="navbar-brand">lAHWA</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="{{ path('app_home') }}" class="nav-item nav-link active">Home</a>
                        <a href="{{ path('app_about') }}" class="nav-item nav-link">About</a>
                         <a href="{{ path('listProduit') }}" class="nav-item nav-link">Produit</a>
                        <a href="{{ path('app_contact') }}" class="nav-item nav-link">Contact</a>
                    </div>
                </div>
            </div>
        </div>

{% if app.flashes('success') %}
    <div class="alert alert-success" style="z-index=-999" role="alert">
        {% for message in app.flashes('success') %}
            {{ message }}<br>
        {% endfor %}
    </div>
{% endif %}

        <!-- Nav Bar End -->


        {% block body %}{% endblock %}
    </body>
        <div class="footer wow fadeIn" >
            <div class="container-fluid" style="background: linear-gradient(rgba(52, 49, 72, .9), rgba(52, 49, 72, .9)), url(../images/footer.jpg);background-position: center;background-repeat: no-repeat;
background-size: contain;">
                <div class="container">
                    <div class="footer-info">
                        <a href="index.html" class="footer-logo">L<span>AH</span>WA</a>
                        <h3>123 Street, Sousse, Tunisia</h3>
                        <div class="footer-menu">
                            <p>+219 12 123 123</p>
                            <p>lahwa@gmail.com</p>
                        </div>
                        <div class="footer-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="container copyright">
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; <a href="#">LAHWA</a>, All Right Reserved.</p>
                        </div>
                        <div class="col-md-6">
                            <p>Designed By <a href="https://htmlcodex.com">Team RR</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/wow/wow.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="lib/isotope/isotope.pkgd.min.js"></script>
        <script src="lib/lightbox/js/lightbox.min.js"></script>
        
        <!-- Contact Javascript File -->
        {# // <script src="mail/jqBootstrapValidation.min.js"></script> #}
        {# // <script src="mail/contact.js"></script> #}

        <!-- Template Javascript -->
        <script src="js/main.js"></script>
</html>
