{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h2 class="text-center text-primary mb-4">Bienvenue sur la Page d'Accueil</h2>

        <div class="card-deck">
            {% for produit in lesProduits %}
                <div class="card">
                    <img src="{{ asset('path/to/your/image/directory/' ~ produit.image) }}" class="card-img-top" alt="{{ produit.libelle }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ produit.libelle }}</h5>
                        <p class="card-text">Prix: {{ produit.prix }} Dt</p>
                        <p class="card-text">Marque: {{ produit.marque }}</p>
                        <a href="{{ path('voir_produit', {'id': produit.id}) }}" class="btn btn-info">Voir le produit</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
